    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
            <center>
                <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
                    <tr>
                        <td align="center" valign="top" id="bodyCell">
                            <!-- BEGIN TEMPLATE // -->
                            <table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
                                <tr>
                                    <td align="center" valign="top">
                                        <!-- BEGIN PREHEADER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templatePreheader">
                                        <tr>
                                            <td valign="top" class="preheaderContent" style="padding-top:10px; padding-right:20px; padding-bottom:10px; padding-left:20px;" mc:edit="preheader_content00">
                                                Thanks for joing Gift Your Stories - it's great to have you on board. 
                                            </td>
                                            <!-- *|IFNOT:ARCHIVE_PAGE|* -->
                                            <td valign="top" width="180" class="preheaderContent" style="padding-top:10px; padding-right:20px; padding-bottom:10px; padding-left:0;" mc:edit="preheader_content01">
                                                Email not displaying correctly?<br /><a href="*|ARCHIVE|*" target="_blank">View it in your browser</a>.
                                            </td>
                                            <!-- *|END:IF|* -->
                                        </tr>
                                    </table>
                                    <!-- // END PREHEADER -->
                                </td>
                            </tr>
                                <tr>
                                    <td align="center" valign="top">
                                        <!-- BEGIN HEADER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                                        <tr>
                                            <td valign="top" class="headerContent">
                                                    <img src="http://giftstories.herokuapp.com/images/email_logo.png" style="max-width:600px;" id="headerImage" mc:label="header_image" mc:edit="header_image" mc:allowdesigner mc:allowtext />
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END HEADER -->
                                </td>
                            </tr>
                                <tr>
                                    <td align="center" valign="top">
                                        <!-- BEGIN BODY // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                                        <tr>
                                            <td valign="top" class="bodyContent" mc:edit="body_content">
                                                <h1>Hi <%= yourName %> - Welcome to Gift Your Stories</h1>
                                                <p> 
                                                    Thanks for signing up. We want to help you create photo albums to share with <%= theirName %>. From personal experience, we know how difficult it can be to keep Grandparents connected to your family. A lot of people are taking lots of great photos on their smartphones. We want to make it as easy as possible for you to share these photos with your loved ones. 
                                                </p>
                                                <br />
                                                <h2>How it works</h2>
                                                <p>
                                                    Simply email any photos you want to share with <%= theirName %> to <%= customEmail %>. You should share this with anyone in your family that you want to contribute to the album. It's very easy to send photos via email from your smartphone or tablet, we're sure the grandkids already know how to, but for those of you who have not done it before we wrote a <a href="http://www.giftyourstories.com/tutorial">tutorial here.</a>
                                                </p>
                                                <p>
                                                    As you upload photos we'll add them to a photo album. When an album is complete (30 photos) we will email you a proof of the photo album which you can buy for £30 and will be delivered to <%= theirName %>. The photo album will be available freely online for you to show to <%= theirName %> when you visit or for them to view if they have internet access. 
                                                </p>
                                                <br />
                                                <br />
                                                <p>
                                                    From the team,
                                                </p>
                                                <p>
                                                    Holly, Andy &amp; Nick
                                                </p>
                                                <p>
                                                    P.s. Any questions, don't hesitate to get in touch: team@giftyourstories.com
                                                </p>

                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END BODY -->
                                </td>
                            </tr>
                                <tr>
                                    <td align="center" valign="top">
                                        <!-- BEGIN FOOTER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                                        <tr>
                                            <td valign="top" class="footerContent" mc:edit="footer_content00">
                                                <a href="*|TWITTER:PROFILEURL|*">Follow on Twitter</a>&nbsp;&nbsp;&nbsp;<a href="*|FACEBOOK:PROFILEURL|*">Friend on Facebook</a>&nbsp;&nbsp;&nbsp;<a href="*|FORWARD|*">Forward to Friend</a>&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="footerContent" style="padding-top:0;" mc:edit="footer_content01">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="footerContent" style="padding-top:0; padding-bottom:40px;" mc:edit="footer_content02">
                                                    <a href="*|UNSUB|*">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp;<a href="*|UPDATE_PROFILE|*">update subscription preferences</a>&nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END FOOTER -->
                                </td>
                            </tr>
                        </table>
                        <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </table>
        </center>
    </body>